<!DOCTYPE html>
<html>
    <head>
        <title>Teddy Beer</title>

        <link rel="apple-touch-icon" sizes="57x57" href="/img/favicon/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/img/favicon/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/img/favicon/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/img/favicon/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/img/favicon/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/img/favicon/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/img/favicon/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/img/favicon/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="/img/favicon/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="/img/favicon/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16x16.png">
        <link rel="manifest" href="/img/favicon/manifest.json">
        <meta name="msapplication-TileColor" content="#1d1c21">
        <meta name="msapplication-TileImage" content="/img/favicon/ms-icon-144x144.png">
        <meta name="theme-color" content="#1d1c21">

        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oxygen">

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="desktop">
            <img src="/img/menu-big.jpg" />
        </div>
        <div class="mobile">
            <img src="/img/menu-small-1.jpg" />
            <img src="/img/menu-small-2.jpg" />
        </div>
        <div class="actions">
            <a class="phone" href="tel:+36307467999">
                <img src="/img/phone.svg" />
                <span>+36 30 746 7999</span>
            </a>
            <a class="facebook" href="https://www.facebook.com/TeddyBeerSzentendre/" target="_blank">
                <img src="/img/facebook-logo.svg" />
                <span>@TeddyBeerSzentendre</span>
            </a>
        </div>
    </body>
</html>