
<html>
    <head>
        <title>Teddy Beer</title>

        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oxygen">
    </head>
    <body>
        <img src="/img/teddybeer-logo-big.jpg" />
        <span>
            Hamarosan, de addig is itt rendelhettek: <a href="tel:+36307467999">+36 30 746 79 99</a>!
        </span>
    </body>
</html>