<html>
    <head>
        <title>Teddy Beer</title>

        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oxygen">
    </head>
    <body>
        <img src="/img/teddybeer-logo-big.jpg" />
        <span>
            Hamarosan...
        </span>
    </body>
</html>